<p>Gentile partecipante,
</p>
<p>ti chiediamo di leggere attentamente le affermazioni che ti saranno proposte e di indicare il tuo grado di accordo su una scala da 1 (= Completamente in disaccordo) a 5 (= Completamente d'accordo).
</p>	
