<p>
	Successivamente, ti verrà chiesto di usare i tasti <b>«E»</b> e <b>«I»</b> della tastiera per categorizzare, il più velocemente possibile, delle parole all’interno di alcuni gruppi.
</p>

<p>
	Questi sono i quattro gruppi e le parole che appartengono a ciascuno di esso:
</p>

<div>
	<img class="center-block" width="900" src="B-IAT_prova/table.jpg">
</div>

	<br><br>

<p>
Ci sono quattro parti. Le istruzioni cambiano per ogni parte. Fai attenzione!</p>
